/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
div.container {
    max-width: 70em;
    margin: auto;
}

img {
	width: 100%;
    display: block;
    margin: 1em 0em 2em;
} 

header{
    background: rgb(255,254,250); /* not totally white. */
}

footer {
    background: rgb(58,134,255); /* blue */
}
    
body {
    background-color: rgb(27,32,40); /* not totally black. */
        color: rgb(255,254,250); /* not totally white. */
        line-height: 140%; /* a little extra leading. */
    font-family: poppins, sans-serif;
    font-weight: 200;
    font-style: normal;
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin: 1rem;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

nav ul li a {
    color: rgb(255,190,11); /* yellow */
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(58,134,255); /* blue */
}

ul li {
    list-style-type: none;
}

h1 {
    background-color: rgb(255,254,250); /* not totally white. */
    padding: 1rem;
    margin-bottom: 1rem; 
}

h2 {
    font-size: 3em;
    margin: 1rem;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-style: none; 
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1
}

h3 {
    font-size: 1.4em;
    padding: 0rem 1rem;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;   
}

h4 {
    background: rgb(255,0,110);/* pink */
    font-size: 1.4em;
    padding: 1rem 1rem 1rem;
    margin: 2rem 0rem 2rem;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h5 {
    background: rgb(131,56,236);/* purple */
    font-size: 1.2em;
    padding: .5rem 1rem .5rem;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h5.yellow{
    background: rgb(255,190,11); /* yellow */
}

h5.blue{
   background: rgb(58,134,255); /* blue */ 
}

h5.pink{
    background:rgb(255,0,110);/* pink */
}

p {
    margin: 0em 1em 1em;
}

p.description {
    max-width: 35em;
    margin: 1em 1em;   
}

p.songs {
    margin-left: 2em;
}



@media only screen and (min-width: 50em) {
    main.about {
        display: grid;
        grid-template-columns: 1.5fr 2.5fr;
        column-gap: 1.5em;
    }
    
    main.artists {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        column-gap: 2em
    }
    
    h1 {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        padding-left: 1.5em;
    }
}