/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; display: block;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
}
div.container {
    max-width: 80em;
    margin: auto;
    background-color: rgb(250,250,250);
}
figure {
    display: grid;
    grid-template-columns: 80% auto; 
    margin-bottom: 3rem;  
}
main{
    display: grid;
    grid-template-columns: 50% 50%;
}
body {
    background-color: rgb(221,221,221); /* Not totally white. */
	color: rgb(43,43,43);  /* Not totally black. */
	line-height: 140%; 	/* A little extra leading. */
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
	background-color: rgb(239,141,52);
	color: rgb(250,250,250); /* Same as body background. */
	line-height: 120%;
    font-size: 3em;
	padding: 2rem 1rem .5rem; /* You want three values. */
    font-family: Sutro, serif;
    font-weight: 700;
	font-style: normal;
}
h2 {
	background-color: rgb(239,141,52);
	color: rgb(249,222,191); 
    font-size: 2em;
	padding: .5rem 1rem 2rem;
	font-family: Sutro, serif;
    font-weight: 300;
	font-style: normal;
}
figcaption {
	background-color: rgb(250,250,250); /* Not totally white. */
	color: rgb(43,43,43);  /* Not totally black. */
    font-size: 1em;
	padding: 1rem 1rem 2rem;
	line-height: 140%; 	/* A little extra leading. */
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: italic;
}
h3{
    background-color: rgb(250,250,250);
    color: rgb(239,141,52);
    font-size: 1.2em;
	padding: 1rem 1rem 1rem;
    margin: 0rem 1rem;
    font-family: Sutro, serif;
    font-weight: 300;
	font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-top: solid 0.1em rgb(239,141,52)
}
ol {
	margin: 1rem 1.5rem 3rem;
    list-style-type: decimal;
}
ul {
	margin: 1rem 1.5rem 2rem;
    list-style-type: disc;
}
li { 
	margin: 1rem 0rem;
    display: list-item;
}
footer {
	background-color: rgb(239,141,52);
	color: rgb(249,222,191); 
    font-size: 1em;
	padding: 1rem 1rem;
	font-family: poppins, sans-serif;
    font-weight: 300;
	font-style: normal;
}
